* {
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.block {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.blocks .block.is-active:first-of-type {
    animation: bounceLeft .5s ease-out;
}

.blocks .block.is-active:last-of-type {
    animation: bounceRight .5s ease-out;
}

.block.red {
    background: red;
}

.block.green {
    background: green;
}

body {
    background: linear-gradient(270deg, #160CE8, #0DFF96);
    background-size: cover;
    -webkit-animation: animateGradientBG 25s ease infinite;
    -moz-animation: animateGradientBG 25s ease infinite;
    animation: animateGradientBG 25s ease infinite;
}

@keyframes animateGradientBG {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes bounceLeft {
    0% {
        transform: skew(0deg, 0deg) scaleY(1);
        animation-timing-function: ease-in;
    }
    40% {
        transform: skew(0deg, -3deg) scaleY(.9);
        animation-timing-function: ease-out;
    }
    100% {
        transform: skew(4deg, 0deg) scaleX(1);
    }
}

@keyframes bounceRight {
    0% {
        transform: skew(0deg, 0deg) scaleY(1);
        animation-timing-function: ease-in;
    }
    40% {
        transform: skew(0deg, 3deg) scaleY(.9);
        animation-timing-function: ease-out;
    }
    100% {
        transform: skew(4deg, 0deg) scaleX(1);
    }
}
